body{
    background-color: black;
    text-align: center; 
}

.title{
    font-family: Verdana;
    font-weight: normal;
    font-size: 33px;
    color: white;
    text-align: center; 
}

.download{
    color: aquamarine;
    font-size: 15px;
    text-align: center; 
}
 
.guide{
    font-family: Verdana;
    font-size: 33px;
    font-weight: 300;
    color: white;
}

.interest{
    font-family: Verdana;
    font-size: 27px;
    color: gray;
}

 .phone{
    padding: 20px;
 }

 .footer{
    font-family: Verdana;
    font-size: 20px;
    color: gray;
    text-align: right;
 }